 @-moz-document url-prefix("https://www.youtube.com/watch?v") {
  /*
  video view
  */


    #primary.style-scope.ytd-watch-flexy {
        margin-bottom: 5rem;
    }


    ytd-watch-next-secondary-results-renderer.style-scope.ytd-watch-flexy,
    #secondary {
        display: none;
    }

    video, .html5-video-container {
        width: 100%!important;
        height: 100%!important;
    }

    .ytp-chrome-bottom {
        left: 50%!important;
        transform: translateX(-50%)!important;
    }



    .ytp-progress-bar-container {
    }

    .ytp-progress-bar {
    }

    .ytp-chapters-container, .ytp-chapters-container {
    }

    .ytp-chapter-hover-container  {
    }


    .ytp-hover-progress.ytp-hover-progress-light {
    }

    /*
        left: 50%;
        transform: translateX(-50%);

    @media (min-width: 1015px) {
        .ytp-chrome-bottom {
            width: 100%!important;
        }
    }
    */
    }

@-moz-document url-prefix("https://www.youtube.com/results?search_query") {
  /*
  search results
  */
  
    #dismissible,
        ytd-shelf-renderer.style-scope.ytd-item-section-renderer,
        ytd-horizontal-card-list-renderer.style-scope.ytd-item-section-renderer {
            display: none;
        }
    }
